{% extends 'base_admin.html.twig' %}

{% block title %}New Calendar{% endblock %}

{% block main %}

    <h1 class="text-center">Nouveau rendez-vous</h1>
    
<div class="d-flex">
    <a class="btn btn-dark my-4 shadow" href="{{ path('app_calendar_index') }}">Retour à la liste</a>
    </div>

<div class="container">
        {{ include('calendar/_form.html.twig') }}
</div>

{% endblock %}
