{% extends 'base.html.twig' %}



{% block body %}
<main>
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6 mx-auto shadow border border-primary rounded p-4">
                <h1 class="text-center my-2">Réinitialisation du mot de passe</h1>
                    {% for flash_error in app.flashes('reset_password_error') %}
                        <div class="text-center alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}
    
                    {{ form_start(requestForm) }}
                        <div class="mb-3">
                        <label for="reset_password_request_form_email">Email</label>
                            {{ form_widget(requestForm.email, {'attr': {'class':'form-control', 'autofocus':'autofocus'}}) }}
                                <small>
                                    <em>Entrer votre adresse mail pour recevoir un lien de réinitialisation du mot de passe.</em>
                                </small>
                        </div>
                        
                            <div>
                                <input formnovalide type="submit" class="btn btn-primary my-3 w-100" value="Réinitialiser">
                            </div>

                            
                        {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
</main>    
{% endblock %}
