<form method="post" action="{{ path('app_prestations_delete', {'id': prestation.id}) }}" onsubmit="return confirm('êtes-vous sur de vouloir supprimer la préstation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prestation.id) }}">
    <button class="btn btn-danger m-5">Supprimer</button>
</form>
