
<div class="col-md-8 mx-auto">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-secondary my-4 shadow">{{ button_label|default('Modifier') }}</button>
{{ form_end(form) }}
</div>


