{% extends 'base.html.twig' %}

{# {% block title %}New Prestations{% endblock %} #}

{% block body %}
    <h1 class="text-center my-3 ">Créer une nouvelle préstation</h1>
    
    <div class="col-md-8 mx-auto border border-solid border-primary rounded shadow">
        <a class="btn btn-dark shadow m-5" href="{{ path('app_prestations_index') }}">Retour a la liste</a>
        
        {{ include('prestations/_form.html.twig') }}
    </div>
{% endblock %}


