{% extends 'base.html.twig' %}

{# {% block title %}New Prestations{% endblock %} #}

{% block body %}
    <h1 class="text-center my-3 ">Créer une nouvelle préstation</h1>
    
    {{ include('prestations/_form.html.twig') }}

    <a class="btn btn-primary shadow m-5" href="{{ path('app_prestations_index') }}">Retour a la liste</a>
{% endblock %}


